# Machine Learning & Data Processing
scikit-learn
pandas
numpy
xgboost
lightgbm

deltalake
hops-deltalake
# Delta support required by Hopsworks time travel format
delta-spark
pyarrow

# Web Backend
flask
gunicorn

# APIs & Feature Store
requests
python-dotenv
hopsworks[python]>=4.0
