# Machine Learning & Modeling
scikit-learn
pandas
numpy
matplotlib
seaborn

# Model Interpretation
shap

# Web Dashboard & API
streamlit
flask

# Deep Learning
tensorflow

# APIs & Feature Store
requests
hopsworks==5.0.0
python-dotenv
